<div class="container">
  <app-navbar></app-navbar>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Image</th>
      <th>Age</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Species</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let a of animals">
    <tr>
      <td>{{a.id}}</td>
      <td>{{a.name}}</td>
      <td><img src="{{a.image}}" alt=""></td>
      <td>{{a.age}}</td>
      <td>{{a.quantity}}</td>
      <td>{{a.price}}</td>
      <td>{{a.species.name}}</td>
      <td>
        <button class="btn btn-warning" [routerLink]="['/form', a.id]">Update</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(a.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
